@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Tiro+Bangla:ital@1&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}


body{
	background-attachment: fixed;	
	background: linear-gradient(to right , white,#056D98);
}

/* start nav*/

.bg-nav{
	background-color: rgba(30, 80, 125, 0.6	);
	font: bold 14px roboto;
	/*background: linear-gradient( to right,black,#779CBE);*/	
}
.bg-nav a{
	color: white !important;
	font-size: 1.7rem;
}


/*end nav*/

/*start index.html*/

.header-img{
	display: flex;
	justify-content: center;
}
.header-img-index{
	width: 100%;
}
/*end header*/

.main-index{
	align-items: center;
	margin: 10px;
	margin-top: 40px;
}

.index-h1{
	color: #0E414A;
	text-align: center;
	margin-bottom: 10px;

}
.index-h3{
	color: #063C58;
	text-align: center;
}
.main-p-index{
	color:#080F51 ;
	font-family: 'Tiro Bangla', serif;
	font-size: 1.3em;
	margin-top: 7px;

}


/*end index-html*/



/*start mercado.html*/
.header-img-mercado{
	
	
}
.main-mercado{
	display: flex;
	justify-content:space-evenly;
	align-items: center;

}

.main-p-mercado{
	color:#080F51 ;
	font-family: 'Tiro Bangla', serif;
	font-size: 1.5em;
	margin-top: 10px;
}

.main-mercado img{
	
}

.mercado-h1{
	color: #0E414A;
	text-align: center;
	margin: 70px;
	font-size: 3.5rem;
}

.mercado-h3{
	color: #0E414A;
	text-align: center;
	font-size: 1.8rem;
	border:1px double #0E414A;

}
.mercado-enviar{
	background: linear-gradient(to right , black,#056D98);
	color:white ;
	
}

.mercado-enviar-1{
	margin-top: 22px;
}

.mercado-enviar-2{
	margin-top: 12px ;
}

.mercado-enviar-3{
	margin-top: ;
}

.mercado-enviar-4{
	margin-top: 45px;
}

.mercado-card{
	font-size: 1.7rem;
	color: white;
	margin: 20px;
	background: linear-gradient(to right , black,#056D98);
}
.mercado-card-titulo{
	font-size: 2.3rem;
	color: #ACB9C1;
	margin: 7px;
}



@media (max-width:  992px){	
	.main-p-mercado{
		font-size: 2.5em;
	}
	.mercado-h1{
		font-size: 3.5rem;
	}
	
	.mercado-h3{
		
		font-size: 2.9rem;
		border:1px double #0E414A;

	}
}

/*end mercado.html*/




/*start servicios.html*/
.header-img-servicios{
	width: 100%;
}



.servicios-h1{
	font-size: 3.5rem;
	color: #17265F;
	margin: 40px;
	padding: 10px;
	text-align: center;
}
.servicios-h2{
	font-size: 3.5rem;
	color:	#17265F;
	padding: 10px;
	text-align: center;
}
.servicios-dh2{
	margin-top: 70px;
}
/*end servicios.html*/





/*start quienes somos.html*/
.header-img-nosotros{
	width: 100%;
}
.main-nosotros{
	display: flex;
	justify-content:space-evenly;
	align-items: center;

}

.card-img-bottom{
	width: 50%;
}

.article__metodos{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color:white;
 	font-size: 2.4rem;
	line-height: 2.5rem;
	font-weight: 2000;
 	list-style:none;  	
}
.nosotros-metodos{
	background: rgba(53,103, 123, 0.6);
	display: flex;
	justify-content: space-between;
	margin: 20px;
	padding: 10px;
	margin-bottom: 100px;
}
.nosotros-h3{
	font-size: 3.5rem;
	color: #060945;
	margin-top: 100px;
	margin-bottom: 90px;
	text-align: center;
	text-decoration: none;
}
.nosotros-div{
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
}	
.nosotros-enviar{
	background: linear-gradient(to right , black,#056D98);
	color:white ;
	font-size: rem;
	margin-top: 15px;
} 
.nosotros-enviar-2{
	background: linear-gradient(to right , black,#056D98);
	color:white ;
	font-size: rem;
	margin-top: 57px;
} 


@media (max-width: 1024px){
	.article__metodos{
		display: flex;
		flex-direction: column;
		color:#F3F3F3 ;
	 	font-size: 3.5rem;
		line-height: 6.5rem;
		font-weight: 2000;
	 	list-style:none;
	 	margin-top: 15px;
	 	text-align: center;
	 	 	 	
	}
	.nosotros-metodos{
		
		justify-content: center;
		margin: 5px;
		padding: 5px;
		margin-bottom: 100px;
	}
	.nosotros-h3{
		font-size: 4.5rem;
		text-align: center;
		align-items: center;
	}
}
/*end quienes somos.html*/




/*start contacto.html*/
.header-img-contacto{
	width: 100% ;
}

.main-contacto{
	align-items: center;
	font-size: 1.9rem;
	color:#17265F ;
	margin: 100px;
}
.contacto-h1{
	color: #17265F;
	margin-top: 70px;
	text-align: center;
	font-size: 4.5rem;
}
.contacto-h3{
	color: #17265F;
	margin-top: 70px;
	text-align: center;
	font-size: 3.2rem;
}

.contacto-enviar{
	background: linear-gradient(to right , black,#056D98);
	color:white ;
	font-size: 1.4rem;
	margin-top: 30px;

}
.contacto-mapa{
	display: flex;
	justify-content: center;
	margin: 50px;
}
main hr{
	border: none;
	height: 1px;
	background-color:#060945;
	max-width: 1200px;
	margin: auto;
}

@media (max-width:  768px){


	.contacto__mapa{
		width: 100%;
	}
}

/*end contacto.html*/




/*start footer*/

footer{
	padding: 10px 0px;
	background: linear-gradient(#1C4578,#137E91);
}

.container-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	max-width: 1200px;
	margin-bottom: 20px;
}

.box-footer{
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-size: 11px;
}
.box-footer .footer-logo img{
	width: 20%;
	margin-top: 25px;
}

.box-footer .terminos{
	max-width: 350px;
	margin-top: 15px;
	font-weight: 500;
	color: #CFD2DD;
	font-size: 12px;
}
.box-footer h2{
	margin-top: 100px;
	margin-bottom: 10px;
	color: silver;
	font-weight: 800;
}
.box-footer a{
	margin-top: 10px;
	color: white;
	font-weight: 600;
}
.box-footer a:hover{
	opacity: 0.8;
}
.box-footer a .fa-brands{
	font-size: 15px;

}
.box-copyright{
	max-width: 1200px;
	margin: auto;
	text-align: center;

}
.box-copyright p{
	margin-top: 10px;
	color: #060945;
}
.box-copyright hr{
	border: none;
	height: 1px;
	background-color:#060945;

}
/*end footer*/

/*start animaciones*/

@keyframes opacidad{
	from{opacity: 0}
	to{opacity: 1}
}

.nosotros-h3{
	animation-name: opacidad;
	animation-duration: 7s;
}
.nosotros-metodos{
	animation-name: opacidad;
	animation-duration: 7s;
}
/*
.index__foto{
	animation-name: opacidad;
	animation-duration: 3s;
}

.transition:hover{
	color:#6CCEE0;
	background: linear-gradient(#056D98,black);
	transition: all 1s;
	border-radius: 50%;
}

.transition{
	background: #B0D8E8;
	color:white ;
}

.contacto__mensaje{
	animation-name: opacidad;
	animation-duration: 3s;
	animation-timing-function : ease-in-out;
	color: #788E99;
}

.transition__nav:hover{
	color:#6CCEE0;
	transition: all 1s;
}
.transition__nav{
	color:white ;
}
/*end animaciones*/


/*col-sm-8 col-md-8 col-lg-3*/
/*<article class="col-sm-12 col-md-6 col-lg-8">*/