@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Tiro+Bangla:ital@1&display=swap');

//variables globales

//setting

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Tiro Bangla', serif;
}


html{
	font-size: 62.5%;
}


body{
	background-attachment: fixed;	
	background: linear-gradient(to right , white,#056D98);
}

//fonts
$onefont:'Tiro Bangla', serif;
$twofont:'roboto', serif;


//colores:
$onecolor: #1E4B72;
$twocolor:#063C90;
$maincolor:#080F51;
$copyrigthcolor:#060945;
$colorservice:#17265F;

//align:
$alicenter:center;

//justify
$space-e:space-evenly;

//animacion:
@keyframes opacidad{
	from{opacity: 0}
	to{opacity: 1}
}


//extend (mercado-h1)
.color{
	color: $onecolor;
	text-align: $alicenter;
}

//@mixin d-flex (main nosotros)
@mixin d-flex($justify-se,$align){
	display: flex;
	justify-content: $justify-se;
	align-items:$align;
	padding: 2px;
}


//maps (mercados-quienes somos-contacto)
$mix:(
	"oneco":#ACB9C1,
	"twoco":#354880,
	"whiteco":#F3F3F3,
	"na":none,
	);

