<!doctype html>
<html lang="en">
	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	     <meta name="description" content="En SPARTAN STRATEGY lo más importante es que usted gane!">
   		<meta name="keywords" content="Contacto,Ubicación,mensajes,etc...">
    	<meta name="author" content="Sebastian Gabriel Espósito">


	    <!-- Bootstrap CSS -->
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	  
	    <!--- mi css -->
	    <link rel="shortcut icon"  href="../img/favicon1.ico">
	    <link rel="stylesheet" href="../css/style.css">
	    
	    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	    
	    <title>SPARTAN STRATEGY-Le brinda la confianza que necesita para operar los mercados de forma segura y tranquila</title>
	</head>
	<body>
    <!-- start nav --> 
    <nav class="navbar navbar-expand-lg navbar-light bg-nav sticky-top">
		<div class="container-fluid">
	    	<a class="navbar-brand" href="../index.html">
	        <img src="../img/logospartan1.svg" alt="logo spartan strategy servicios financieros" class="logo">
	      	</a>
	      	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      	</button>
	      	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	        	<ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
		          	<li class="nav-item">
		            	<a class="nav-link active" aria-current="page" href="../views/mercados.html">Mercados</a>
		        	</li>
		        	<li class="nav-item">
		            	<a class="nav-link active" href="../views/servicios.html">Servicios</a>
		        	</li>
		        	<li class="nav-item">
		            	<a class="nav-link active" href="../views/quienessomos.html">Quienes somos</a>
		        	</li>
		        	<li class="nav-item">
		            	<a class="nav-link active" href="../views/contacto.html">Contacto</a>
		        	</li>
		        </ul>	        
	      	</div>
	    </div>  
	</nav>
	<!--end nav -->


	<!-- start header -->
  	<header class="header-img delay">
    	<img class="header-img-contacto" src="../img/img-contacto.png" alt="caratula contacto"></a>    
  	</header>
  	<!-- end header -->

  	<!-- start main -->
  	<main>
  		<h1 class="contacto-h1"data-aos="zoom-in-down">Registrese y dejé su consulta</h1>
  		<div class="main-contacto">
		  	<form class="row g-3">
				<div class="col-md-6" >
					<label for="inputEmail4" class="form-label" data-aos="fade-right">Nombre</label>
			    	<input type="name" class="form-control" id="inputEmail4">
			  	</div>
			  	<div class="col-md-6">
			    	<label for="inputPassword4" class="form-label"data-aos="fade-left">Apellido</label>
			    	<input type="lastname" class="form-control" id="inputPassword4">
			  	</div>
			  	<div class="col-md-6">
			    	<label for="inputAddress" class="form-label"data-aos="fade-right">Teléfono</label>
			    	<input type="text" class="form-control" id="inputAddress" placeholder="Codigo de pais + número">
			  	</div>
			  	<div class="col-md-6">
			    	<label for="inputAddress2" class="form-label"data-aos="fade-left">Email</label>
			    	<input type="text" class="form-control" id="inputAddress2" placeholder="Example@....">
			  	</div>
			  	<div class="col-md-6">
			    	<label for="inputCity" class="form-label"data-aos="fade-right">Ciudad</label>
			    	<input type="text" class="form-control" id="inputCity">
			  	</div>
			  	<div class="col-md-6">
			    	<label for="inputState" class="form-label"data-aos="fade-left">país</label>
			    	<select id="inputState" class="form-select">
			      	<option selected>......</option>
			      	<option>Sudamerica</option>
			    	<option>Europa</option>
			    	<option>Africa</option>
			    	<option>Oceanía</option>
			    	<option>America del norte</option>
			    	</select>
			  	</div>
			  	<div class="mb-4">
					<label for="exampleFormControlTextarea1" class="form-label"data-aos="fade-up">Mensaje:</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
				</div>

			  	<div class="col-12 contacto-empresa">
			    	<div class="form-check">
			    		<input class="form-check-input" type="checkbox" id="gridCheck">
			    		<label class="form-check-label" for="gridCheck"data-aos="fade-up">
			        	Soy empresa
			      		</label>
			    	</div>
				</div>
			  	<div class="col-12"data-aos="zoom-in">
			    	<button type="submit" class="contacto-enviar btn ">Enviar
			    	</button>
				</div>
			</form>	
		</div>			
				<hr>
		<div>
			<h3 class="contacto-h3"data-aos="zoom-in-down">Nuestas oficinas en Bs.as</h3>
			<div class="contacto-mapa"data-aos="zoom-in">
				<iframe class="contacto__mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.973007251843!2d-58.37463588516724!3d-34.604844065063865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacd57f91ce9%3A0xefc7d342a78bc306!2sBanco%20Central%20de%20la%20Rep%C3%BAblica%20Argentina!5e0!3m2!1ses!2sar!4v1653719852727!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</main>


  	<!-- end main -->


	<!--start footer -->
	<footer>
		<div class="container-footer">
		  	<div class="box-footer">
		    	<div class="footer-logo">
		      		<a href="../index.html"><img src="../img/logospartan1.svg" alt="logo spartan strategy footer"></a>
		    	</div>
		    	<div class="terminos">
		     		<p>Aviso legal: Las operaciones con instrumentos financieros o criptomonedas implican un elevado riesgo, incluyendo la pérdida parcial o total del capital invertido, y pueden no ser adecuadas para todos los inversores. Los precios de las criptomonedas son extremadamente volátiles y pueden verse afectados por factores externos de tipo financiero, regulatorio o político. Operar sobre márgenes aumenta los riesgos financieros.</p>
		    	</div>
			</div>

			<div class="box-footer">
				<h2>Soluciones</h2>
				<a href="../views/404.html">App desarrollo</a>
				<a href="../views/404.html">App marketing</a>
				<a href="../views/404.html">Ios desarrollo</a>
				<a href="../views/404.html">Android desarrollo</a>
			</div>

		   	<div class="box-footer">
		    	<h2>Compania</h2>
		      	<a href="../views/quienessomos.html">Acerca de</a>
		      	<a href="../views/quienessomos.html">Trabajos</a>
		      	<a href="../views/servicios.html">Procesos</a>
		      	<a href="../views/servicios.html">Servicios</a>
		 	</div>

		   	<div class="box-footer">	
		    	<h2>Redes sociales</h2>
		      	<a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i> Facebook</a>
		      	<a href="https://twitter.com"><i class="fa-brands fa-twitter"></i>Twitter</a>
		      	<a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i>linkedin</a>
		      	<a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i>Instagram</a>
		  	</div>
		</div>
		<div class="box-copyright">
		    <hr>
		    <p>Todos los derechos reservados © 2022 <b>SpartanStrategy</b></p>               
		</div>
	</footer>

	<!--end footer -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- scipt fontawesome -->
    <script src="https://kit.fontawesome.com/25167accfa.js" crossorigin="anonymous"></script>
    
    <!--script animaciones -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  
     <!--script animaciones -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  

    <script>
      AOS.init({
        duration: 1500
      });
    </script>
	
</body>
</html>