<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SPARTAN STRATEGY</title>
	<link rel="shortcut icon"  href="../img/favicon1.ico">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="grid__contacto">
		<nav class="nav_menu nav__contacto">
			<a href="../index.html">
			    <img class="imagenes__logo" src="../img/logospartan1.png" alt="">
			</a>
			<ul>
				<li>
					<a href="../views/mercados.html">Mercados</a> 
				</li>
				<li>
					<a href="../views/servicios.html">Servicios</a>
				</li>
				<li>
					<a href="../views/quienes somos.html">Quienes somos</a>
				</li>
				<li>
					<a href="../views/contacto.html">Contacto</a>
				</li>
			</ul>
		</nav>
		<header class="header__contacto">
		    <a href="../index.html"><h2 class="article__todos__h2">Contacto</h2></a>
		    <img class="imagenes__contacto" src="../img/contacto.png" alt="contactanos">
		</header>    	    
		<main class="main__contacto">
			<section>
				<form action="envio.php" >
					<fieldset class="fieldset__lista transition">
					  	<legend>Info personal</legend>
						<label for="nombre">nombre:</label>
						<input class="imput__contacto" type="text" id="nombre">
						<label for="email">email:</label>
						<input class="imput__contacto" type="email" id="email">
						<label for="teléfono">teléfono:</label>
						<input class="imput__contacto" type="text" name="" id="telefono">
					</fieldset>
					    <label  class="label_contacto" for="mensaje">motivo de mensaje::</label>
						<br>
						<textarea name="" id="mensaje" cols="40" rows="10"></textarea>
						<br>
						<input class="imput__contacto transition" type="reset" value="cancelar">
						<input class="imput__contacto transition"	type="submit" value="enviar">   
			</section>
		    
			<section> 
				<iframe class="contacto__mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.973007251843!2d-58.37463588516724!3d-34.604844065063865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccacd57f91ce9%3A0xefc7d342a78bc306!2sBanco%20Central%20de%20la%20Rep%C3%BAblica%20Argentina!5e0!3m2!1ses!2sar!4v1653719852727!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</section>
			<section>
				<div>
					<h3 class="contacto__mensaje">¡¡Podes estar siempre actualizado al instante siguiendonos en nuestras redes sociales!!</h3>
				</div>
			</section> 
			<section class="contacto__seccion__links rotate skew">
				<a href="https://twitter.com">
	      			<img class="contacto__links" src="../img/logo twitter.png" alt="twitter">
	       		</a>
	        	<a href="https://facebook.com">
	      			<img class="contacto__links" src="../img/logo facebook.png" alt="facebook">
	        	</a>
	        	<a href="https://telegram.com">  
	        		<img class="contacto__links" src="../img/logo telegram.png" alt="telegram">
	        	</a>
	        	<a href="https://instagram.com">  
	       		 	<img class="contacto__links" src="../img/logo instagram.png" alt="instagram">
	        	</a>
	   		</section>
		</main>
		<footer class="footer__contacto" id="pie">
			<a href="https://www.gifsanimados.org/cat-finanzas-y-economia-365.htm"><img src="https://www.gifsanimados.org/data/media/365/finanzas-y-economia-imagen-animada-0051.gif" border="0" alt="finanzas-y-economia-imagen-animada-0051" /></a>
			<a href="../index.html">Spartan Strategy Derechos reservados 2022</a>
			<a href="https://www.gifsanimados.org/cat-finanzas-y-economia-365.htm"><img src="https://www.gifsanimados.org/data/media/365/finanzas-y-economia-imagen-animada-0051.gif" border="0" alt="finanzas-y-economia-imagen-animada-0051" /></a>
		</footer>
	</div>
	
</body>
</html>