<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SPARTAN STRATEGY</title>
	<link rel="shortcut icon"  href="../img/favicon1.ico">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div id="grid__container__mer"> 
	    <nav class="nav_menu mer__nav">
		    <a href="../index.html">
		    	<img class="imagenes__logo" src="../img/logospartan1.png" alt="">
		    </a>
			<ul>
				<li>
				    <a href="../views/mercados.html">Mercados</a> 
				</li>
				<li>
					<a href="../views/servicios.html">Servicios</a>
				</li>
				<li>
					<a href="../views/quienessomos.html">Quienes somos</a>
				</li>
				<li>
					<a href="../views/contacto.html">Contacto</a>
				</li>
			</ul>
		</nav>
		<!-- ends nav -->    
		<header class="gr__mer__header">
			<a href="../index.html"><h2 class="article__todos__h2">Tipos de mercados</h2></a>	
		</header>
		<!--ends header-->	
		<main class="gr__mer__main">
			<section class="flex__mercados">
				<img class="imagenes__mercado" src="../img/tiposdemercados2.jpg" alt="descripción de tipos de comercio">
				<img class="imagenes__mercado" src="../img/tipos de mercados.png" alt=" descripción de diferencias entre mercados">
			</section>    
			<section>
			    <table class="table__mercado" border="1px" cellpadding="5px" cellspacing="5px">
					<tr>
						<th>Mercados</th>
						<th>Riesgo</th>
						<th>Volatilidad</th>
					</tr>
					<tr>
						<td>Renta fija</td>
						<td>Bajo</td>
						<td>Moderado</td>
					</tr>
					<tr>
						<td>Renta mixta</td>
						<td>Medio/alto </td>
						<td>Alta</td>
					</tr>
					<tr>
						<td>Renta variable</td>
						<td>Alto</td>
						<td>Alta</td>
					</tr>
				</table>
			</section>
			<section>
				<article>
					<img class="imagenes__principal imagenes__mercado" src="../img/diferencia.webp" alt="grafico con subida pronunciada">
					<a href="../views/mercados.html"><img class="imagenes__principal imagenes__mercado" src="../img/retrocesos.png" alt="retrocesos de Fibonacci"></a>
					<p class="parrafo__mercado imagen__6">En renta fija tienes una idea muy aproximada sobre lo que una inversión podría rendir a tu favor, pero esta ganancia usualmente es moderada. En renta variable, debido a que el valor de las acciones es muy volátil. Puede que tus ganancias aumenten mucho en poco tiempo o también ocurra lo contrario.</p>
				</article>
			</section>	
		</main>		
			<aside class="gr__mer__aside">
				<img class="imagenes__mercado" src="../img/servicios3.png" alt="prestamos contactenos">
			</aside>				
		<!--ends main-->	
		<footer class="gr__mer__footer" id="pie">
			<a href="https://www.gifsanimados.org/cat-finanzas-y-economia-365.htm"><img src="https://www.gifsanimados.org/data/media/365/finanzas-y-economia-imagen-animada-0051.gif" border="0" alt="finanzas-y-economia-imagen-animada-0051" /></a>
			<a href="../index.html">Spartan Strategy Derechos reservados 2022</a>
			<a href="https://www.gifsanimados.org/cat-finanzas-y-economia-365.htm"><img src="https://www.gifsanimados.org/data/media/365/finanzas-y-economia-imagen-animada-0051.gif" border="0" alt="finanzas-y-economia-imagen-animada-0051" /></a>
		</footer>
		<!--ends footer-->	
	</div>	
</body>
</html>