<!doctype html>
<html lang="en">
	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- Bootstrap CSS -->
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	  
	    <!--- mi css -->
	    <link rel="shortcut icon"  href="../img/favicon1.ico">
	    <link rel="stylesheet" href="../css/style.css">
	    <script src="https://kit.fontawesome.com/25167accfa.js" crossorigin="anonymous"></script>
	    
	    <title>Spartan strategy-Quienes somos</title>
	</head>
	<body>
    <!-- start nav --> 
    <nav class="navbar navbar-expand-lg navbar-light bg-nav sticky-top">
		<div class="container-fluid">
	    	<a class="navbar-brand " href="../index.html">
	        <img src="../img/logospartan1.svg" alt="logo spartan strategy servicios financieros" class="logo">
	      	</a>
	      	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	      	</button>
	      	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	        	<ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
		          	<li class="nav-item">
		            		<a class="nav-link active" aria-current="page" href="../views/mercados.html">Mercados</a>
		        	</li>
		        	<li class="nav-item">
		            		<a class="nav-link active" href="../views/servicios.html">Servicios</a>
		        	</li>
		        	<li class="nav-item">
		            		<a class="nav-link active" href="../views/quienessomos.html">Quienes somos</a>
		        	</li>
		        	<li class="nav-item">
		            		<a class="nav-link active" href="../views/contacto.html">Contacto</a>
		        	</li>
		        </ul>	        
	      	</div>
	    </div>  
	</nav>
	<!--end nav -->

	<!-- start header -->
  	<header class="header-img">
    	<img class="header-img-nosotros" src="../img/img-nosotros.jpg" alt="caratula nosotros"></a>    
  	</header>
  	<!-- end header -->

  	<!-- start main -->

  	<main>
  		<section class="py-3 ">
        	<div class="row main-nosotros my-5">
        		<div class="card col-md-4 ">
		  			<img src="../img/img-nosotros1.jpg" class="card-img-top w-100  img-thumbnail" alt="foto de nosotros 2">
		  			<div class="card-body">
		    		<h2 class="card-title index-h3"></h2>
		    		<p class="card-text main-p-mercado">Spartan Strategy es una empresa que nacíó por la inquietud de querer ofrecer servicios que representen verdadero valor agregado a la operativa financiera de miles de personas y empresas alrededor de todo el mundo. Integrada por personas con basta experiencia en las distintas ramas de las operativas financieras cuyo valor principal es el instruir a personas que esten iniciando en el mundo de las finanzas y ayudar a contribuir a mejorar las estrategias de individuos y empresas con carteras de activos ya conformadas.</p>
		    		<a href="../views/servicios.html" class="btn btn-primary nosotros-enviar">Nuestros servicios</a>
		  			</div>
				</div>		
          		
    			<div class="card col-md-4">
		  			<img src="../img/img-nosotros.png" class="card-img-top w-100  img-thumbnail" alt="fotos de nosotros 1">
		  			<div class="card-body">
		    			<h2 class="card-title index-h3"></h2>
		    			<p class="card-text main-p-mercado">Spartan Strategy cuenta con integrantes que han logrado obtener un correcto y amplio conocimiento en las distintas ramas de activos financieros diversificando portafolios que con gusto vamos a compartirle a usted para que pueda desarrollarse como un trader profesional. Nuestra experiencia nos permite acompañarlos, y trabajando de la mano, ofrecerle las mejores soluciones y resultados.</p>
		    			<a href="../views/servicios.html" class="btn btn-primary nosotros-enviar-2">Nuestros servicios</a>
		  			</div>	
          		</div>
          	</div>
        </section>
        
  		<div>
  			<img src="../img/img-nosotros2.png" alt="imagen nuestras estrategias" class="w-100">
  		</div>
  		
  		<div>
        	<H2 class="nosotros-h3">Metodos de trabajo:</H2>
        </div> 			 	
  		<section class="nosotros-metodos">
  			<ul class="article__metodos">
				<li>Método de previsión</li>
				<li>Método de planificación</li>
				<li>Gestión de riesgo</li>
				<li>Diversificación de activos</li>
				<li>Psicología de las emociones</li>
				<li>Desarrollo de la disciplina</li>
			</ul>
  		</section>


  	</main>

  	<!--end main -->




	<!--start footer -->
	<footer>
		<div class="container-footer">
		  	<div class="box-footer">
		    	<div class="footer-logo">
		      		<img src="../img/logospartan1.svg" alt="logospartanfooter">
		    	</div>
		    	<div class="terminos">
		     		<p>Aviso legal: Las operaciones con instrumentos financieros o criptomonedas implican un elevado riesgo, incluyendo la pérdida parcial o total del capital invertido, y pueden no ser adecuadas para todos los inversores. Los precios de las criptomonedas son extremadamente volátiles y pueden verse afectados por factores externos de tipo financiero, regulatorio o político. Operar sobre márgenes aumenta los riesgos financieros.</p>
		    	</div>
			</div>
		  
		  	<div class="box-footer">
		      <h2>Soluciones</h2>
		      	<a href="#">App desarrollo</a>
		      	<a href="#">App marketing</a>
		      	<a href="#">Ios desarrollo</a>
		      	<a href="#">Android desarrollo</a>
		  	</div>

		   	<div class="box-footer">
		    	<h2>Compania</h2>
		      	<a href="#">Acerca de</a>
		      	<a href="#">Trabajos</a>
		      	<a href="#">Procesos</a>
		      	<a href="#">Servicios</a>
		 	</div>

		   	<div class="box-footer">	
		    	<h2>Redes sociales</h2>
		      	<a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
		      	<a href="#"><i class="fa-brands fa-twitter"></i>Twitter</a>
		      	<a href="#"><i class="fa-brands fa-linkedin"></i>linkedin</a>
		      	<a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
		  	</div>
		</div>
		<div class="box-copyright">
		    <hr>
		    <p>Todos los derechos reservados © 2022 <b>SpartanStrategy</b></p>               
		</div>
	</footer>

	<!--end footer -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	
</body>
</html>
