<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SPARTAN STRATEGY</title>
	<link rel="shortcut icon"  href="../img/favicon1.ico">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="grid__container__nosotros"> 
	    <nav class="nav_menu grid__nav__nos">
		    <a href="../index.html">
		    	<img class="imagenes__logo" src="../img/logospartan1.png" alt="">
		    </a>
			<ul>
				<li>
					<a href="../views/mercados.html">Mercados</a> 
				</li>
				<li>
					<a href="../views/servicios.html">Servicios</a>
				</li>
				<li>
					<a href="../views/quienessomos.html">Quienes somos</a>
				</li>
				<li>
					<a href="../views/contacto.html">Contacto</a>
				</li>
			</ul>
	    </nav>
		<!-- ends nav -->
		<header class="grid__header__nos">
			<a href="../index.html"><h2 class="article__todos__h2">Nosotros</h2></a>
			<img class="imagenes__nosotros" src="../img/quienes somos.png " alt="seguinos en nuestras redes sociales">
			<img class="imagenes__nosotros" src="../img/confianza.png" alt="honestidad y confianza">
		</header>
		<main class="grid__main__nos">
			<section class="margin__nosotros">
				<a href="../views/quienes somos.html"><H2 class="article__todos__h2 skew">Metodos de trabajo:</H2></a>
				<ul class="article__metodos">
					<li>Método de previsión</li>
					<li>Método de planificación</li>
					<li>Gestión de riesgo</li>
					<li>Diversificación de activos</li>
					<li>Psicología de las emociones</li>
					<li>Desarrollo de la disciplina</li>
				</ul>
			</section>
			<section>
				<article>
					<p class="parrafo__somos "> <strong class="parrafo__sparta">Spartan Strategy</strong> es una empresa que nacíó por la inquietud de querer ofrecer servicios que representen verdadero valor agregado a la operativa financiera de miles de  personas y empresas alrededor de todo el mundo.
				    Integrada por personas con basta experiencia en las distintas ramas de las operativas financieras <span>cuyo valor principal es el instruir a personas que esten iniciando en el mundo de las finanzas</span> y ayudar a contribuir a mejorar las estrategias de individuos y empresas con carteras de activos ya conformadas.
				    Para ello <STRONG class="parrafo__sparta"> Spartan Strategy</STRONG> cuenta con integrantes que han logrado obtener un correcto y amplio conocimiento en las distintas ramas de activos financieros diversificando portafolios que con gusto vamos a compartirle a usted para que pueda desarrollarse como un trader profesional.
				    Nuestra experiencia nos permite acompañarlos, y trabajando de la mano, ofrecerle las mejores soluciones y resultados.
				   </p>
				</article>
			</section>
		</main>
		<footer class="grid__footer__nos" id="pie">
			<a href="https://www.gifsanimados.org/cat-finanzas-y-economia-365.htm"><img src="https://www.gifsanimados.org/data/media/365/finanzas-y-economia-imagen-animada-0051.gif" border="0" alt="finanzas-y-economia-imagen-animada-0051" /></a>
			<a href="../index.html">Spartan Strategy Derechos reservados 2022</a>
			<a href="https://www.gifsanimados.org/cat-finanzas-y-economia-365.htm"><img src="https://www.gifsanimados.org/data/media/365/finanzas-y-economia-imagen-animada-0051.gif" border="0" alt="finanzas-y-economia-imagen-animada-0051" /></a>
		</footer>
	</div>
	
</body>
</html>