<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Operé todo tipo de mercados financieros del más alto nivel con nuestros cursos y asesorias personalizadas">
	<meta name="keywords" content="Trading,Cursos,asesorias,etc...">
	<meta name="author" content="Sebastian Gabriel Espósito">


	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<!--- mi css -->
	<link rel="shortcut icon"  href="../img/favicon1.ico">
	<link rel="stylesheet" href="../css/style.css">

	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

	<title>SPARTAN STRATEGY-Somos lideres en el campo de las finanzas</title>

</head>
<body>
	
	<!-- start nav --> 
	
	<nav class="navbar navbar-expand-lg navbar-light  bg-nav sticky-top">
		<div class="container-fluid">
  			<a class="navbar-brand " href="../index.html">
      		<img src="../img/logospartan1.svg" alt="logo spartan strategy servicios financieros" class="logo">
    		</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarSupportedContent">
      			<ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          			<li class="nav-item">
            			<a class="nav-link active" aria-current="page" href="../views/mercados.html">Mercados</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link active" href="../views/servicios.html">Servicios</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link active" href="../views/quienessomos.html">Quienes somos</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link active" href="../views/contacto.html">Contacto</a>
        			</li>
        		</ul>	        
			</div>
    	</div>  
	</nav>
	
	<!--end nav -->

	<!-- start header -->
	
	<header class="header-img delay">
  		<img class="header-img-servicios" src="../img/img-servicios.jpg" alt="caratula servicios"></a>    
	</header>
	
	<!-- end header -->

	<!-- start main -->

	<main>
	    <section class="py-3" id="6" >
	    	<div class="container-fluid">
	        	<h1 class="servicios-h1"data-aos="zoom-in-down">Servicios</h1>
       			<div class="row">
		        	
		        	<article class="col-sm-12 col-md-6 col-lg-6 servicios_gap"data-aos="zoom-in-up">
		          		<a href="../views/contacto.html#contacto"><img src="../img/img-servicios.png" alt="cursos a precios increibles" class="w-100 d-block img-thumbnail"></a>    
        			</article>
	        
	        		<article class="col-sm-12 col-md-6 col-lg-6"data-aos="zoom-in-up">
	           			<a href="../views/contacto.html#contacto"><img src="../img/img-servicios2.png" alt="asesorias personalizadas" class="w-100 d-block img-thumbnail"></a>   
	        		</article>
	        	</div>
	    	</div>
	    </section>
    
    	<section class="py-3 align-items-center">
   			<div class="container-fluid">
      			<h2 class="servicios-h1"data-aos="zoom-in-down">Planes a medida de cada inversor</h2>
     			<div class="d-flex justify-content-center align-items-center text-center">
      				<article class="col-sm-12 col-md-6 col-lg-6"data-aos="zoom-in-up">
          				<a href="../views/contacto.html#contacto"><img src="../img/img-servicios3.jpg" alt="detalles sobre los cursos ofrecidos" class="w-100 d-block img-thumbnail"></a>
          			</article>
      			</div>
    		</div>
    	</section>
    
   	 	<section class="py-3" >
    		<div class="servicios-dh2">
      			<h2 class="servicios-h2"data-aos="zoom-in-down">AHORA TAMBIEN</h2>
      			<h2 class="servicios-h2"data-aos="zoom-in-down">CREDITOS PERSONALES</h2>
     		</div>
   			<div class="container-fluid">
     			<div class="d-flex justify-content-center align-items-center text-center my-5">
      				<article class="col-sm-12 col-md-8 col-lg-6"data-aos="zoom-in-up">
          				<a href="../views/contacto.html#contacto"><img src="../img/img-servicios3a.png" alt="detalle sobre servicios de financiación" class="w-50  img-thumbnail"></a>
          			</article>	
      			</div>
			</div>
    	</section>
	</main>
	<!-- end main <-->
	
	<!-- start aside -->
	
	<aside class="py-5 ">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
		    	<div class="carousel-item active">
		      		<img src="../img/img-servicios.png" class="d-block w-60 servicios_ancho img-fluid" alt="...">
		    	</div>
		    	<div class="carousel-item">
		      		<img src="../img/img-servicios2.png" class="d-block w-60 servicios_ancho	 img-fluid" alt="...">
		    	</div>
		  	</div>
		  	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
		    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    	<span class="visually-hidden">Previous</span>
		  	</button>
		  	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
		    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    	<span class="visually-hidden">Next</span>
		  	</button>
		</div>
	</aside>

	<!--end aside-->

	<!--start footer -->
	
	<footer>
		<div class="container-footer">
	  		<div class="box-footer">
	    		<div class="footer-logo">
	      			<a href="../index.html"><img src="../img/logospartan1.svg" alt="logo spartan strategy footer"></a>
	    		</div>
	    		<div class="terminos">
	     			<p>Aviso legal: Las operaciones con instrumentos financieros o criptomonedas implican un elevado riesgo, incluyendo la pérdida parcial o total del capital invertido, y pueden no ser adecuadas para todos los inversores. Los precios de las criptomonedas son extremadamente volátiles y pueden verse afectados por factores externos de tipo financiero, regulatorio o político. Operar sobre márgenes aumenta los riesgos financieros.</p>
	    		</div>
			</div>
		  
 			<div class="box-footer">
				<h2>Soluciones</h2>
				<a href="../views/404.html">App desarrollo</a>
				<a href="../views/404.html">App marketing</a>
				<a href="../views/404.html">Ios desarrollo</a>
				<a href="../views/404.html">Android desarrollo</a>
			</div>

		  	<div class="box-footer">
	    		<h2>Compania</h2>
      			<a href="../views/quienessomos.html">Acerca de</a>
      			<a href="../views/quienessomos.html">Trabajos</a>
      			<a href="../views/servicios.html">Procesos</a>
      			<a href="../views/servicios.html">Servicios</a>
		 	</div>

	   		<div class="box-footer">	
	    		<h2>Redes sociales</h2>
      			<a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i> Facebook</a>
      			<a href="https://twitter.com"><i class="fa-brands fa-twitter"></i>Twitter</a>
      			<a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin"></i>linkedin</a>
      			<a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i>Instagram</a>
	  		</div>
		</div>
		<div class="box-copyright">
		    <hr>
		    <p>Todos los derechos reservados © 2022 <b>SpartanStrategy</b></p>               
		</div>
	</footer>

	<!--end footer -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

	<!-- scipt fontawesome -->
	<script src="https://kit.fontawesome.com/25167accfa.js" crossorigin="anonymous"></script>

	<!--script animaciones -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


	<script>
	AOS.init({
		duration: 1000
	});
	</script>



</body>
</html>