<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SPARTAN STRATEGY</title>
	<link rel="shortcut icon"  href="../img/favicon1.ico">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body >
	<div id="grid__container__servicios"> 
	    <nav class="nav_menu gr__nav">
			<a href="../index.html"> 
				<img class="imagenes__logo" src="../img/logospartan1.png" alt="logo de Spartan Strategy estrategias de mercado inteligentes">
			</a>
			<ul>
				<li>
					<a href="../views/mercados.html">Mercados</a> 
				</li>
				<li>
					<a href="../views/servicios.html">Servicios</a>
				</li>
				<li>
					<a href="../views/quienes somos.html">Quienes somos</a>
				</li>
				<li>
					<a href="../views/contacto.html">Contacto</a>
				</li>
			</ul>
		</nav>
		<header id=" " class="gr__header">
			<a href="../index.html"><h2 class="article__todos__h2">Servicios</h2></a>	
		</header>	
		<main id="grid__container__servicios__2" class="gr__main">
			<section class="flex__servicios seccion1">
				<img class="imagenes__servicios" src="../img/servicios.png" alt="Servicios ofrecidos">
			</section>
			<section class=" seccion2">	
				<table class="table__servicios"  border="3px" cellpadding="10px" cellspacing="10px">
					
					<tr>
						<th>Cursos</th>
						<th>Duración</th>
						<th>Precio</th>
					</tr>
					<tr>
						<td>Basico </td>
						<td>3 meses</td>
						<td>u$s 250</td>
					</tr>
					<tr>
						<td>Intermedio</td>
						<td>6 meses </td>
						<td>u$s500</td>
					</tr>
					<tr>
						<td>Avanzado</td>
						<td>12 meses</td>
						<td>u$s 1000</td>
					</tr>
				</table>
			</section>
			
			<section class="flex__servicios__2 seccion3">
				<img class="imagenes__servicios__2" src="../img/servicios2.png" alt="Asesorias personalizadas">
			</section>
			<section class="flex__servicios seccion4">	
				<table class="table__servicios__2" border="3px" cellpadding="1px" cellspacing="5px">		
						<tr>
							<th>Asesorias personalizadas</th>
							<th>Precios</th>
						</tr>
						<tr>
							<td>Silver</td>
							<td>Consultar</td>
						</tr>
						<tr>
							<td>Gold</td>
							<td>Consultar</td>
						</tr>
						<tr>
							<td>Platinum</td>
							<td>Consultar</td>
						</tr>
					</table>
			</section>
			<section class="secciongif scale">
				<a href="https://www.gifsanimados.org/cat-finanzas-y-economia-365.htm"><img src="https://www.gifsanimados.org/data/media/365/finanzas-y-economia-imagen-animada-0003.gif" border="0" alt="finanzas-y-economia-imagen-animada-0003" /></a>
			</section>
			<section class="secciongif1 scale">
				<a href="https://www.gifsanimados.org/cat-finanzas-y-economia-365.htm"><img src="https://www.gifsanimados.org/data/media/365/finanzas-y-economia-imagen-animada-0038.gif" border="0" alt="finanzas-y-economia-imagen-animada-0038" /></a>
			</section>
		</main>		
	    <footer class="gr__footer" id="pie">
			<a href="https://www.gifsanimados.org/cat-finanzas-y-economia-365.htm"><img src="https://www.gifsanimados.org/data/media/365/finanzas-y-economia-imagen-animada-0051.gif" border="0" alt="finanzas-y-economia-imagen-animada-0051" /></a>
			<a href="../index.html">Spartan Strategy Derechos reservados 2022</a>
			<a href="https://www.gifsanimados.org/cat-finanzas-y-economia-365.htm"><img src="https://www.gifsanimados.org/data/media/365/finanzas-y-economia-imagen-animada-0051.gif" border="0" alt="finanzas-y-economia-imagen-animada-0051" /></a>
		</footer>
	</div>
	
</body>
</html>